{% extends "base.html" %}

<!-- Define a title -->
{% block title %} Retreive {% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"> {% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='options.js') }}"></script> {% endblock %}


<!-- Main Body -->
{% block body %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
    <div class="{{ category }}">{{ message }}</div>
  {% endfor %}
{% endwith %}
<header>
  <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css" rel="stylesheet">
  <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.0.min.css" rel="stylesheet">
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="http://jonathanobenland.com">Paste Bin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Send Text<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/retreive">Retreive Text<span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
      {% if User != '' %}
        <a href="/logout" class="btn btn-danger" role="button">logout</a>
      {% endif %}
      {% if User == '' %}
        <a href="/comb" class="btn btn-danger" role="button">Login/New Account</a>
      {% endif %}
      </form>
    </div>
  </nav>
</header>

<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
  <div class="container">
      {% if message != '' %}
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <span>{{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
    {% endif %}
  <p class="text-center">Current user is <span style="color: red">{{ g.user.email }}</span>
    <div class="card text-center">
        <div class="card-header">
            Retreive Text
        </div>
        <div class="card-body">
            <div class="form-group">
                <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="10">{{data}}</textarea>
            </div>
        </div>
          <div class="card-footer text-muted text-success">
            <div class="form-group">
                <small id="key" class="form-text text-muted">From user {{user}} at {{time}}</small>
            </div>
          </div>
    </div>
  </div>
</main>
{% endblock %}